<div class="container">
  <div class="row">
    <div class="col">
      <h2>About Angular</h2>
      <p>
        Vestibulum gravida et neque ac aliquet. Nullam hendrerit enim et ligula
        gravida elementum. Integer vitae velit vitae massa luctus sodales eu at
        purus. Etiam nec facilisis enim, eget sollicitudin nisl. Aenean
        fermentum neque et nisi ornare, sed volutpat sapien pulvinar. Aenean
        sollicitudin vestibulum lacinia. Aenean vitae aliquam diam, eu egestas
        velit.
      </p>
    </div>
  </div>
</div>
