<div class="container">
  <div class="row">
    <div class="col">
      <h2>Welcome to Angular</h2>
      <p>
        Integer venenatis tempor neque, eget sollicitudin nibh commodo eget. Sed
        sed vehicula ipsum. Nulla rutrum ullamcorper nisi, ac interdum odio
        iaculis at. Aliquam in nulla laoreet lorem faucibus dictum. Morbi
        volutpat tincidunt quam ut fringilla. Mauris ut sem justo. Nulla dolor
        nunc, rhoncus ut est at, consectetur vehicula turpis. Mauris luctus urna
        tempus, viverra quam nec, tincidunt ante. Sed quis eleifend nibh.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos.
      </p>
    </div>
  </div>
</div>
