.box {
  padding: 10px;
  background-color: lightgray;
  border: 1px solid grey;
}

.completed {
  background-color: blue;
}

.selected {
  background-color: red;
}

body {
  background-color: yellow;
}
