<div class="container">
  <div class="row">
    <div class="col">
      <h2>Feature One - Page One</h2>
      <p>
        Ut tempus pellentesque leo. Mauris nulla purus, bibendum a ultrices nec,
        lobortis eu lorem. Integer in pretium tellus. Nam augue massa, ultricies
        venenatis volutpat sed, dapibus nec libero. Cras pharetra lorem non
        congue rhoncus. Praesent urna nisi, convallis at turpis quis, commodo
        faucibus enim. Vivamus diam est, sollicitudin porttitor laoreet eget,
        consequat eu orci. Aenean ac nulla a lorem aliquam cursus. Curabitur
        imperdiet accumsan vulputate. Sed at lectus porttitor nulla maximus
        eleifend eget ut tortor. Fusce vel feugiat odio, non rutrum nisi. Aenean
        ornare enim a eleifend aliquet. Quisque commodo magna scelerisque neque
        tincidunt ullamcorper.
      </p>
      <button
        class="btn btn-lg btn-success"
        appChangeclass="btn-primary"
        removeClass="btn-success"
      >
        Turn to Success
      </button>
      <hr />
      <app-takeinput>
        <button
          class="btn btn-lg btn-success"
          appChangeclass="btn-primary"
          removeClass="btn-success"
        >
          Turn to Success
        </button>
        <p>Proloy Chakroborty</p>
      </app-takeinput>
    </div>
  </div>
</div>
